<style>
#fos_user_profile_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    margin-top: 25px;
}
#fos_user_profile_form div label{
    height: 21px;
    width: 190.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#fos_user_profile_form div input{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div li{
    color: red;
    font-size: 12px;
    list-style: none;
}
#fos_user_profile_form div select{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div input[type=text],
#fos_user_profile_form div input[type=email],
#fos_user_profile_form div input[type=password],
#fos_user_profile_form div input[type=number]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

//*******************************//
.accordion.active, .accordion:hover {
    background-color: #ddd;
}

.accordion:after {
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 900px;  
}

.accordion form input {
    display:inline;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}
</style>

<main class="main" role="main">
  <!-- Page info -->
  <header class="site-title color MarB10"></header>
  <!-- //Page info -->
  <div class="wrap">
    <div class="row">
      <!--- Sidebar -->
      <aside class="one-fourth sidebar left">
        <!-- Widget -->
        <div class="widget noBoxShadow BgW">
          <h4>Mon profil</h4>
          <ul class="categories">
            <li {% if categorienav == 'profil' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-building-o"></i>Informations personnelles</a></li>
            <li {% if categorienav == 'photo' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit_photo') }}"><i class="fa fa-camera"></i>Photo</a></li>
            <li {% if categorienav == 'pref' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_pref') }}"><i class="fa fa-cog"></i>Préférences</a></li>
            <li {% if categorienav == 'vehicule' %}class="active"{% endif %}><a href="{{ path('app_vehicule') }}"><i class="fa fa-car"></i>Véhicule</a></li>
            <li {% if categorienav == 'password' %}class="active"{% endif %}><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i>Mot de passe</a></li>
            <li><a href="#"><i class="fa fa-lock"></i>Fermeture de compte</a></li>
          </ul>
        </div>
        <!-- //Widget -->
      </aside>      <!--- //Sidebar -->
      <!--- Content -->
      <div class="three-fourth content noPadBot">
        <!-- Post -->
        <article class="single hentry noBoxShadow BgW noMar">
          <div class="entry-content" id="profil_info">
          	<span class="tagop"></span>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}        
                
            <h2 class="montserrat px16 bold noPadBot">VÉHICULE</h2>
            <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
            <br>

        {% if typecompte == 'covoitureur' %}
            <div class="full-width" style="font-family: sans-serif; font-size: 14px;color: #808080;">
                <i style="color: #F7715F;" class="fa fa-info-circle"></i>
                Vous êtes <b>Covoitureur</b> pour changer votre compte en <b>compte Conducteur</b> Ajouter un véhicule et votre compte sera modifier automatiquement.
            </div>
            <button class="button accordion"><i class="fa fa-plus"></i> AJOUTER UN VÉHICULE</button>
            <div class="panel">
            <div id="fos_user_profile_form">
                {{ form_start(form, { 'action': path('app_vehicule'), 'attr': { 'class': '' } }) }}
                    {{ form_widget(form) }}

                    <div><br><br>
                        <input style="margin-left: 133.3px;" type="submit" value="Ajouter" class="button cursor"/>
                    <br></div>
                    
                {{ form_end(form) }}
            </div>
            </div>
        {% else %}
            {% if vehicules|length != 0 %}
            <table class="rwd-table">
                <tr>
                    <th>Matricule</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Couleur</th>
                    <th><center>Action</center></th>
                </tr>
                {% for vehicule in vehicules %}
                <tr>
                    <td>{{ vehicule.matricule }}</td>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.model }}</td>
                    <td>{{ vehicule.couleur }}</td>
                    <td><center>
                        <a title="Modifier" href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}"><i style="color: #fff;" class="fa fa-pencil-square-o"></i> </a>&nbsp;
                        <a title="Supprimer" href="{{ path('app_vehicule_delete', {'id': vehicule.id}) }}"><i style="color: #fff;" class="fa fa-times"></i> </a>
                    </center></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <div class="full-width" style="font-family: sans-serif; font-size: 14px;color: #808080;">
                    Vous n'avez pas encore renseigné votre véhicule : ajouter votre 1ér véhicule pour commencer.
                </div>
            {% endif %}
            <button class="button accordion"><i class="fa fa-plus"></i> AJOUTER UN VÉHICULE</button>
            <div class="panel">
            <div id="fos_user_profile_form">
                {{ form_start(form, { 'action': path('app_vehicule'), 'attr': { 'class': '' } }) }}
                    {{ form_widget(form) }}

                    <div><br><br>
                        <input style="margin-left: 133.3px;" type="submit" value="Ajouter" class="button cursor"/>
                    <br></div>
                    
                {{ form_end(form) }}
            </div>
            </div>
        {% endif %}
            
          </div>
        </article>
        <!-- //Post -->
      </div>
      <!--- //Content -->
    </div>
  </div>
</main>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>
<script>
        $(".alert").delay(3200).fadeOut(3000);
</script>




