{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - Véhicule{% endblock title %}

{% block content %}
<br>
{% include "AppBundle:Layout:common/nav2.html.twig" %}

{% include "AppBundle:Profile:Vehicule/editvehicule_content.html.twig" %}
<br>
{% endblock content %}
