{% extends 'UserBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - Login{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/user/css/form-register-style.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}    
    
{% endblock secondstylesheets %}
{% block content %}

<div class="form-style-8">
  <h2>S'inscrire</h2>
{% include "UserBundle:Registration:register_content.html.twig" %}
</div>

<br>

{% endblock content %}