
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


{{ form_widget(form.type) }}
{{ form_errors(form.type) }}

{{ form_widget(form.lastname) }}
{{ form_errors(form.lastname) }}

{{ form_widget(form.firstname) }}
{{ form_errors(form.firstname) }}

{{ form_widget(form.username) }}
{{ form_errors(form.username) }}

{{ form_widget(form.email) }}
{{ form_errors(form.email) }}


{{ form_widget(form.gender) }}
{{ form_errors(form.gender) }}

{{ form_widget(form.born) }}
{{ form_errors(form.born) }}

{{ form_widget(form.grade) }}
{{ form_errors(form.grade) }}

{{ form_widget(form.telephone) }}
{{ form_errors(form.telephone) }}


{{ form_widget(form.plainPassword.first) }}
{{ form_errors(form.plainPassword.first) }}


{{ form_widget(form.plainPassword.second) }}
{{ form_widget(form.plainPassword.second) }}
{{ form_row(form.captcha) }}
{{ form_widget(form) }}
<div>
    <input type="submit" value="Registrer" />
</div>
{{ form_end(form) }}
</form>
