<style>
#fos_user_profile_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    {#margin-top: 25px;#}
}
#fos_user_profile_form div label{
    height: 21px;
    width: 133.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#fos_user_profile_form div input{
    height: 37px;
    width: 300px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div input[type=text],
#fos_user_profile_form div input[type=email],
#fos_user_profile_form div input[type=password]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

//*******************************//
.photo{
    text-align: center;
}
</style>

<main class="main" role="main">
  <!-- Page info -->
  <header class="site-title color MarB10"></header>
  <!-- //Page info -->
  <div class="wrap">
    <div class="row">
      <!--- Sidebar -->
      <aside class="one-fourth sidebar left">
        <!-- Widget -->
        <div class="widget noBoxShadow BgW">
          <h4>Mon profil</h4>
          <ul class="categories">
            <li {% if categorienav == 'profil' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-building-o"></i>Informations personnelles</a></li>
            <li {% if categorienav == 'photo' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit_photo') }}"><i class="fa fa-camera"></i>Photo</a></li>
            <li {% if categorienav == 'pref' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_pref') }}"><i class="fa fa-cog"></i>Préférences</a></li>
            <li {% if categorienav == 'vehicule' %}class="active"{% endif %}><a href="{{ path('app_vehicule') }}"><i class="fa fa-car"></i>Véhicule</a></li>
            <li {% if categorienav == 'password' %}class="active"{% endif %}><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i>Mot de passe</a></li>
            <li><a href="#"><i class="fa fa-lock"></i>Fermeture de compte</a></li>
          </ul>
        </div>
        <!-- //Widget -->
      </aside>      <!--- //Sidebar -->
      <!--- Content -->
      <div class="three-fourth content noPadBot">
        <!-- Post -->
        <article class="single hentry noBoxShadow BgW noMar">
          <div class="entry-content" id="profil_info">
          	<span class="tagop"></span>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}        
                
            <h2 class="montserrat px16 bold noPadBot">PRÉFÉRENCES</h2>
            <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
            <br>
            
{{ form_start(form, { 'action': path('fos_user_profile_pref'), 'attr': { 'class': '' } }) }}
<div id="fos_user_profile_form">
    {{ form_widget(form) }}
    
    <div style=""><br><br>
        <input style="margin-left: 133.3px;" type="submit" value="Enregistrer" class="button cursor"/>
    <br></div>
{{ form_end(form) }}
            </div>
            
          </div>
        </article>
        <!-- //Post -->
      </div>
      <!--- //Content -->
    </div>
  </div>
</main>

<script>
        $(".alert").delay(3200).fadeOut(3000);
</script>




