{% extends 'UserBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - Contact{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/user/css/form-style.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}    
    
{% endblock secondstylesheets %}
{% block content %}
<br>
<style>
.content {
    width:80%;    
    margin: 0 auto;
    padding: 25px 25px 1px 25px;
    text-align: left;
    font: 16px 'Raleway', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #77787D;
}
.border{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px
}
.notification{
    font-family: Arial !important;
    color: #000 !important;
    font-size: 19px !important;
    font-weight: 600;
    letter-spacing: -1px !important;
    padding: 0 0 12px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.hrl-yellow{
    background-color: #F3c00F !important;
    width: 46px;
    height: 2px;
}
.margin-hrl-yellow{
    padding: 5px 5px 13px 0;
}
#contact_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    margin-top: 25px;
}
#contact_form div li{
    color: red;
    font-size: 12px;
    list-style: none;
}
#contact_form div label{
    height: 21px;
    width: 190.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#contact_form div input{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#contact_form .div-textarea{
    height: 100px;
}
#contact_form .div-textarea textarea{
    height: 100px;
    width: 227px;
    padding: 4px 0 4px 0;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border: 1px solid #999999;
    border-left: none;
    border-top: none;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
}
#contact_form div input[type=text],
#contact_form div input[type=email],
#contact_form div input[type=password],
#contact_form div input[type=number]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}    
</style>
<div class="content">
<div class="border">
    <div class="notification">CONTACT</div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger">{{ flashMessage }}</div>
                {% endfor %}  
                <div id="contact_form">
                    <form action="" method="post"  autocomplete="on">
                        <div>
                            <label for="username" ><i class="fa fa-user"></i> Nom et Prenom <span class="required">*</span></label> 
                            <input type="text" name="username" id="username"  required="required" placeholder="Votre Nom"  />
                        </div>

                        <div>
                            <label for="usermail" ><i class="fa fa-envelope-o"></i> E-mail  <span class="required">*</span></label> 
                            <input type="email" name="usermail" id="usermail" placeholder="Votre adresse E-mail" required="required"  /> 
                        </div>

                        <div>
                            <label for="subject" class=""> <i class="fa fa-pencil"></i>Sujet <span class="required">*</span></label>
                            <input type="text" name="subject" id="subject"  placeholder="Votre sujet" required="required"/> 
                        </div>

                        <div class="div-textarea">
                            <label for="message"><i class="fa fa-pencil-square-o"></i> Message  <span class="required">*</span></label>
                            <textarea name="message" placeholder="Votre Message"  required="required" ></textarea> 
                        </div>

                        <div>
                            <input type="submit" value="Envoyer" class="button cursor"/>
                        </div>		
                    </form>
                </div>
    

</div>
</div>
<br><br>
<script>
        $(".alert").delay(3200).fadeOut(3000);
</script>
{% endblock content %}
