{% extends 'UserBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/user/css/form-style.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}    
    
{% endblock secondstylesheets %}
{% block content %}
<br>
<style>
.content {
    width:80%;    
    margin: 0 auto;
    padding: 25px 25px 1px 25px;
    text-align: left;
    font: 16px 'Raleway', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #77787D;
    padding-bottom: 50px;
    padding-top: 50px;
}
.notification{
    font-family: Arial !important;
    color: #000 !important;
    font-size: 19px !important;
    font-weight: 600;
    letter-spacing: -1px !important;
    padding: 0 0 12px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.hrl-yellow{
    background-color: #F3c00F !important;
    width: 46px;
    height: 2px;
}
.margin-hrl-yellow{
    padding: 5px 5px 13px 0;
}
#contact_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    margin-top: 25px;
}
#contact_form div li{
    color: red;
    font-size: 12px;
    list-style: none;
}
#contact_form div label{
    height: 21px;
    width: 190.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#contact_form div input{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#contact_form .div-textarea{
    height: 100px;
}
#contact_form .div-textarea textarea{
    height: 100px;
    width: 227px;
    padding: 4px 0 4px 0;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border: 1px solid #999999;
    border-left: none;
    border-top: none;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
}
#contact_form div input[type=text],
#contact_form div input[type=email],
#contact_form div input[type=password],
#contact_form div input[type=number]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}    
</style>

<div class="content">
<div class="border">
    <div class="notification">Comment ça marche</div>
    <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>                 
<div>
    <span>
        <img src="{{asset('bundles/app/images/car-img.png')}}" style="width:150px; height:150px;"/>
        <b>- <i>Vous Pouvez Annuler Votre demande De Réservation Mais à Condition que :</i> </b> 
        La Réservation Ne Peut Pas Dépasser 24h Pour Récupérer Tout L'Argent Sinon S'Il Dépasse 12h Vous Pouvez Récupérer Que La Moitié Sinon Au Plus De 6h L'Argent Ne Sera Pas Rendu.
    </span><br><br>
    <span>
        <b>- <i>Voyagez :</i> </b> 
        Rendez-vous au lieu de départ convenu, bien à l'heure! Demandez le Code de Réservation de chaque passager au cours du trajet : il vous permettra de recevoir l'argent plus rapidement après votre voyage.
    </span><br><br>
    <span>
        <b>- <i>Conducteurs :</i> </b> 
        Lorsque Vous Réservez une Place,Un Email sera Envoyez au Conducteur Pour Confirmer Votre Place 
    </span><br><br>
</div>
    
    <div class="notification">A votre Information</div>
    <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>   
<div>
    <span>
        <img src="{{asset('bundles/app/images/index-how-it-img.png')}}" style="width:150px; height:150px;"/>
        <b>- <i>Covoitureurs :Voyagez moins cher</i> </b> <br>
        Plus Vous Consultez le site et passez reservation, Donnez vos Avis Du Consucteur Plus Vous Avez De Bonus
    </span><br><br>
    <span>
        <b>- <i>Partagez Les Frais Avec d'autres Voyageurs</i> </b> <br>
        Ne voyagez plus seul ! Economisez sur vos frais en prenant des passagers lors de vos longs trajets en voiture.
    </span><br><br>
    <span>
        <b>- <i>Partagez les frais de tous vos trajets</i> </b> <br>
        Vous prenez déjà le train ou métro ensemble, partagez aussi vos frais de voiture
    </span><br><br>
</div><br><br>

<div>
                                    <h3> - Nous Vous Informons </h3>
                                    <p class="padding20 row colorwhite">Le site est pour tous Les Départements de l'Université Libre de Tunis
                                        <br>*Cycle préparatoire      
                                            <br>*Cycle ingénieur
                                                <br>*Architecture
                                                    <br>*Licences
                                                        <br>*Masters
                                                            </p>
                                                            </div>
    

</div>
</div>
<br><br>
{% endblock content %}
