{% extends 'UserBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - Login{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/user/css/form-style.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}    
    
{% endblock secondstylesheets %}
{% block content %}
    <br>
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    
<div class="testbox">
  <h1 class="h1">Se Connecter</h1>

  <form action="{{ path("fos_user_security_check") }}" method="post">
      <hr><br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      
    <label id="icon" for="username"><i class="icon-user "></i></label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required="required" />
    
    <label id="icon" for="password"><i class="icon-shield"></i></label>
    <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />    
    
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="margin-left: 20px;" />
    <label style="font-size: 13px; margin-left: 10px; padding-top: 10px;" for="remember_me">Se souvenir de moi</label>
    
    <input type="submit" id="_submit" class="button" name="_submit" value="Connexion" />
{#        <a href="#" class="button link">Connexion</a>#}
  </form>
</div>
<br>
{% endblock content %}
