/* 01 RESET */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font:15px/1.42 'Raleway', Arial, Helvetica, sans-serif;
	text-align:center;
	color:#191F26;
	background:#f0f2f5;
	word-wrap:break-word;
	text-rendering:optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* 05 LAYOUT */
.wrap {
	margin:0 auto;
	width:1170px;
	text-align:left;
	position:relative;
	max-width:94%;
	display:inline-block;
}
.row {
	margin:0 -15px;
}
.full-width {
	float:left;
	width:100%;
	padding:0 15px 21px;
	max-width:100%;
}
.three-fourth {
	float:left;
	width:75%;
	padding:0 15px 30px;
	max-width:100%;
}
.one-half {
	float:left;
	width:50%;
	padding:0 15px;
	max-width:100%;
}
.one-third {
	float:left;
	width:33.33%;
	/*padding:0 15px 30px;*/
	padding:0 15px 6px;
	max-width:100%;
}
.two-third {
	float:left;
	width:66.66%;
	padding:0 15px 30px;
	max-width:100%;
}
.five-sixth {
	float:left;
	width:83.33%;
	padding:0 15px 30px;
	max-width:100%;
}
.one-fourth {
	float:left;
	width:25%;
	padding:0 15px 30px;
	max-width:100%;
}
.one-fourthy {
	float:left;
	width:25%;
	padding:0 15px 30px !important;
	max-width:100%;
}
.one-fifth {
	float:left;
	width:20%;
	padding:0 15px 30px;
	max-width:100%;
}
.two-fifth {
	float:left;
	width:40%;
	padding:0 15px 30px;
	max-width:100%;
}
.one-sixth {
	float:left;
	width:16.66%;
	padding:0 15px 30px;
	max-width:100%;
}
.one-sixthy {
	float:left;
	width:16.66%;
	padding:0 15px 30px;
	max-width:100%;
}
.one-twelve {
	float:left;
	width:8.33%;
	padding:0 15px 30px;
	max-width:100%;
}
.row:before, .row:after {
	content: "";
	display:table;
}
.row:after {
	clear: both;
}

/* 16 BLOG */
.hentry {
	float:left;
	width:100%;
	background:#fff;
	color:#34394A;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.hentry .entry-featured {
	float:left;
	width:33.33%;
	position:relative;
	overflow:hidden;
}
.hentry .entry-featured img {
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.hentry .entry-content {
	float:left;
	width:66.66%;
	padding:25px;
}
.hentry .entry-content h2 {
	font-size:19px;
	padding:0 0 16px;
	text-transform:uppercase;
}
.hentry .entry-content h2 a {
	color:#34394A;
}
.one-half .entry-featured, .one-half .entry-content {
	width:100%;
}
.one-half .entry-featured img {
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}
.hentry.single {
	margin-bottom:30px;
}
.single .entry-featured {
	width:100%;
	position:relative;
	overflow:hidden;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}
.single .entry-featured img {
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}
.three-fourth .single .entry-featured {
	height:450px;
}
.one-half .single .entry-featured {
	height:300px;
}
.three-fourth .single .entry-featured img, .one-half .single .entry-featured img {
	position:absolute;
	top:-30%;
	left:0;
}
.single .entry-content {
	width:100%;
	position:relative;
	padding:20px 25px;
}
.single .entry-content h2 {
	font-size:25px;
	text-transform:none;
	padding:0 0 12px;
}
.lead, .textongrey .lead {
	font-size:16px;
	font-weight:600;
}
.single p {
	line-height:1.5;
}
.single a {
	position:relative;
	font-weight:600;
	cursor:pointer;
}
.single a:after {
	content:"";
	position:absolute;
	left:0;
	bottom:-3px;
	opacity:0;
	-ms-opacity:0;
	width:0;
}
.single a:hover:after, .single a:focus:after {
	opacity:1;
	-ms-opacity:1;
	width:100%;
}
.tel:hover{
	background-color:#00a4a4 !important;
	cursor:default;
}
blockquote {
	position:relative;
	background:#f9f9f9;
	margin:6px 0 20px;
	padding:20px 25px 20px 79px;
	font-size:16px;
	line-height:1.5;
	font-weight:500;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
blockquote.fix {
	position:relative;
	background:#f9f9f9;
	margin:0;
	padding:20px 25px 20px 25px;
	font-size:16px;
	line-height:1.5;
	font-weight:500;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
blockquote:before {
	content:"";
	width:41px;
	height:29px;
}
.comments {
	float:left;
	width:100%;
	margin:-2px 0 30px;
	border-bottom:1px solid #DFDFD0;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .6);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .6);
	box-shadow:0 1px 0 rgba(255, 255, 255, .6)
}
.comments h3 {
	padding:0 0 30px;
	color:#191F26;
}
.comment-list {
	margin:0;
}
.comments li {
	list-style:none;
	float:left;
	width:100%;
	color:#34394A;
	margin:0 0 30px;
	padding:0 0 0 100px;
	position:relative;
}
.comments .avatar {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:100px;
}
.comments .avatar img {
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	border:1px solid #DFDFD0;
}
.comments .depth-2 {
	padding-left:200px;
	margin-left:0;
	width:auto;
}
.depth-2 .avatar {
	left:100px;
}
.comments .depth-3 {
	padding-left:300px;
	margin-left:0;
	width:auto;
}
.depth-3 .avatar {
	left:200px;
}
.comment-box {
	float:left;
	width:100%;
	background:#fff;
	min-height:100px;
	padding:15px 15px 0;
	border:1px solid #DFDFD0;
	border-left:0;
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.comment-box .meta {
	color:#999;
	padding:0 0 8px;
}
.comment-box a {
	color:#F2716A;
}
.meta {
	font-size:13px;
	color:#858585
}
.meta strong {
	font-size:15px;
	font-weight:400;
	color:#191F26;
	padding:0 3px 0 0;
}
.comment-text {
	float:left;
}
.comment-text p {
	font-size:14px;
	padding:0 0 14px;
	max-width:86%;
}
.comments .btn {
	float:right;
	position:absolute;
	top:15px;
	right:15px;
}
.box {
	float:left;
	width:100%;
	background:#fff;
	padding:20px 25px 25px;
	color:#34394A;
	-webkit-box-shadow:inset 0 0 0 1px #DFDFD0;
	-moz-box-shadow:inset 0 0 0 1px #DFDFD0;
	box-shadow:inset 0 0 0 1px #DFDFD0;
	margin:0 0 30px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.comment-respond h3 {
	padding:0 0 20px;
}
.comment-respond label {
	color:#858585;
}

/* 20 SIDEBAR */
.sidebar .widget {
	float:left;
	width:100%;
	background:#fff;
	color:#34394A;
	-webkit-box-shadow:inset 0 0 0 1px #DFDFD0;
	-moz-box-shadow:inset 0 0 0 1px #DFDFD0;
	box-shadow:inset 0 0 0 1px #DFDFD0;
	margin:0 0 30px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.sidebar .widget h4 {
	font-size:16px;
	text-transform:uppercase;
	background:#999999;
	color:#fff;
	padding:17px 20px 16px;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	font-family:"Montserrat";
	border-bottom:3px solid #666666;
}
.sidebar .widget h5 {
	font-family:'Raleway', Arial, Helvetica, sans-serif;
	font-weight:700;
	padding:0 0 6px;
}
.sidebar .widget img {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.sidebar .widget img:last-of-type {
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}
.sidebar .widget .textwidget {
	padding:17px 20px 5px;
}
.sidebar .widget form {
	float:left;
	width:100%;
	padding:17px 20px 0;
}
.sidebar .widget .f-row {
	padding-bottom:20px;
}
.sidebar .widget .f-row input {
	padding:10px 12px;
}
.contact-data {
	font-size:17px;
}
.contact-data .ico {
	margin-right:10px;
}
.categories {
	margin:0;
}
.categories li {
	text-transform:inherit;
	font-size:13px;
	border-bottom:1px solid #e6e6e6;
	padding:0;
	font-family:"Montserrat";
	color:#333333;
        list-style: none;
}
.categories li:before {
	display:none;
}
.categories li a {
	display:inline-block;
	width:100%;
	color:#333333;
	padding:17px 20px 16px;
}
.categories li:last-child {
	border-bottom:none;
}
.categories li.active {
	font-size:15px;
}
.categories li.active a, .categories li:hover a {
	background:#00bc9c;
	color:#fff;
}
.categories li.active:after {
	content:"";
	position:absolute;
	top:0;
	width: 0;
	height: 0;/*border-style: solid;*/
}
.sidebar.right li.active:after {
	left:-15px;
	border-width: 27px 15px 27px 0;
	border-color: transparent #191F26 transparent transparent;
}
.sidebar.left li.active:after {
/*right:-15px;
	border-width: 27px 0 27px 15px;
	border-color: transparent transparent transparent #191F26;*/
}
.categories li.active:first-child a {
	-webkit-border-radius:3px 0 0 0;
	-moz-border-radius:3px 0 0 0;
	border-radius:3px 0 0 0;
}
.categories li.active:last-child a {
	-webkit-border-radius:0 0 0 3px;
	-moz-border-radius:0 0 0 3px;
	border-radius:0 0 0 3px;
}

.categories li .fa{
    padding-right: 10px;
}

.table-icon {
    padding: 1px 8px;
}

.false.table-icon {
    background: url("../images/i-warning.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.true.table-icon {
    background: url("../images/i-ok.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

