body{
    background-color: #F0F2F5;
}

.content {
    width:80%;    
    margin: 0 auto;
    padding: 25px 25px 1px 25px;
    text-align: left;
    font: 16px 'Raleway', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #77787D;
}


.border{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px
}

.button{
    font-family: 'Montserrat' !important;
    color: #FFF !important;
    font-size: 13px !important;
    font-weight: 600;
    border-radius: 4px !important;
    padding: 10px 14px 8px !important;
    background-color: #00a4a4 !important;
    border-bottom: 2px solid #008c8c !important;
    text-decoration: none;
}
.button:hover{
    background-color: #00BC9C!important;
}
.notification{
    font-family: Arial !important;
    color: #000 !important;
    font-size: 19px !important;
    font-weight: 600;
    letter-spacing: -1px !important;
    padding: 0 0 12px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.notfi-red{
    color: #ef4015 !important;
}
.hrl-yellow{
    background-color: #F3c00F !important;
    width: 46px;
    height: 2px;
}
.margin-hrl-yellow{
    padding: 5px 5px 13px 0;
}

/* Main Nav 2 */
.main-nav2 {
	clear:both;
	font-size:14px;
	text-transform:uppercase;
        font-weight: 600;
        margin: 0 auto;
        background-color: #fff;
        width: 820px;
}

.main-nav2 ul > li {
	float:left;
	display:block;
	padding:0;
	position:static;
	border-right:1px solid #e3e4e8;
	border-top:1px solid #e3e4e8;
	border-bottom: 3px solid #FFF;
        background-color: #fff;
}
.main-nav2 ul > li:first-of-type {
	-webkit-border-radius:3px 0px 0px 0px !important;
	-moz-border-radius:3px 0px 0px 0px !important;
	border-radius: 3px 0px 0px 0px !important;
	border-left:1px solid #e3e4e8;
}
.main-nav2 ul > li:last-of-type {
	-webkit-border-radius:0px 3px 0px 0px !important;
	-moz-border-radius:0px 3px 0px 0px !important;
	border-radius: 0px 3px 0px 0px !important;
}
.main-nav2 ul > li.active, .main-nav2 ul > li:hover {
	border-bottom:3px solid #15aead;
	background:#f7f8f9;
}
.main-nav2 ul > li > a {
	color:#333333;
	border-radius:0;
	position:relative;
	font-family: 'Montserrat';
	font-size:12px;
	padding:18px 25px 15px;
	display:block;
}
.main-nav2 ul > li.active > a, .main-nav2 ul > li.active > a:hover, .main-nav2 ul > li.active > a:focus, .main-nav2 ul > li:hover > a, .main-nav2 ul > li:focus > a {
	color:#191F26;
}
.main-nav2 li:hover > ul {
	display:block;
}
.main-nav2 ul ul {
	display:none;
	position: absolute;
	top: 100%;
	margin-left:-10px;
	min-width:200px;
	background:#fff;
	-webkit-box-shadow:4px 6px 8px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:4px 6px 8px 0 rgba(0, 0, 0, 0.15);
	box-shadow:4px 6px 8px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	z-index:9999;
        -webkit-transition: all .3s ease .15s;
        -moz-transition: all .3s ease .15s;
        -o-transition: all .3s ease .15s;
        -ms-transition: all .3s ease .15s;
        transition: all .3s ease .15s;
}
.main-nav2 ul ul li {
	padding:0;
}
.main-nav2 ul ul li a {
	display:block;
	color:#191F26;
	font-size:13px;
	padding:9px 15px 7px;
}
.main-nav2 ul ul li:hover a {
	color:#fff;
	background:#191F26;
}
.main-nav2 ul ul li:last-child a {
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}
.main-nav2 ul ul li {
	float: none;
	position:relative;
}
.main-nav2 ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
	margin-left:0;
}
.main-nav2 li:hover > div {
	display:block;
}
.main-nav2 li > div {
	display:none;
	position: absolute;
	width:1170px;
	padding:15px 0 30px;
	top: 100%;
	right: 0;
	z-index:999;
	background:#fff;
	-webkit-box-shadow:4px 6px 8px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:4px 6px 8px 0 rgba(0, 0, 0, 0.15);
	box-shadow:4px 6px 8px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius: 0 0 3px 3px;
        -webkit-transition: all .3s ease .15s;
        -moz-transition: all .3s ease .15s;
        -o-transition: all .3s ease .15s;
        -ms-transition: all .3s ease .15s;
        transition: all .3s ease .15s;
}
.main-nav2 li > div div {
	position:static;
	display:inline-block;
	border-right:1px solid #DFDFD0;
	padding:0 30px;
	min-height:120px;
}
.main-nav2 li > div div:last-of-type {
	border:none;
}
.main-nav2 li > div h2 {
	font-size:15px;
	padding:0 0 10px;
}
.main-nav2 li > div ul {
	display:block;
	margin:0;
	position:static;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.main-nav2 li > div ul li a {
	padding:0 0 5px;
	color:#858585;
}
.main-nav2 li > div ul li:hover a {
	background:none;
	color:#191F26;
}

//*************************************************//

