{% extends '::base.html.twig' %}

{% block title %}ALOO ULT{% endblock title %}

{% block stylesheets %}
    {% stylesheets 
        'bundles/app/css/styles.css'
        'bundles/app/css/header-fixed.css'
        'bundles/app/css/style-main.css'
        'bundles/app/css/style-body.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
{% endblock stylesheets %}
{% block javascripts %}
    {% javascripts 
        'bundles/user/js/jquery.min.js'
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
    %}        
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}" ></script>
    <script type="text/javascript">
	$(document).ready(function(){
		var showHeaderAt = 90;
		var win = $(window),
				body = $('body');
		// Show the fixed header only on larger screen devices
		if(win.width() > 600){
			// When we scroll more than 150px down, we set the
			// "fixed" class on the body element.
			win.on('scroll', function(e){
				if(win.scrollTop() > showHeaderAt) {
					body.addClass('fixed');
				}
				else {
					body.removeClass('fixed');
				}
			});
		}
	});
    </script>
{% endblock javascripts %}

{% block body %}
    {% include "AppBundle:Layout:common/header.html.twig" %}
    <body>
        {% block content %}{% endblock content %}
    </body>
    {% include "AppBundle:Layout:common/footer.html.twig" %}
{% endblock body %}
