<header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="{{path('app_homepage')}}">Co<span>voitur</span>age</a></h1>

		<nav>
			<a href="{{path('app_homepage')}}" {% if(active == 'homme') %}class="selected"{% endif %}>Home</a>
                        <a href="{{path('app_trajet')}}" {% if(active == 'trajet') %}class="selected"{% endif %}>Rechercher un Trajet</a>
			<a href="{{path('app_about')}}" {% if(active == 'about') %}class="selected"{% endif %}>About</a>
			<a href="{{path('app_contact')}}" {% if(active == 'contact') %}class="selected"{% endif %}>Contact</a>
		</nav>
                
                <ul>
			<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
		</ul>
	</div>

</header>