<nav class="main-nav2">
      <ul>
        <li {% if activenav2 == "dashboard" %} class="active"{% endif %}><a href="{{ path('app_homepage') }}" title="">Tableau de bord</a></li>
        <li {% if activenav2 == "profil" %} class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}" title="">Profil</a></li>
        <li {% if activenav2 == "annonces" %} class="active"{% endif %}><a href="{{ path('app_trajet_add') }}" title="">Vos annonces</a></li>
        <li {% if activenav2 == "messages" %} class="active"{% endif %}><a href="" title="">Messages</a></li>
        <li {% if activenav2 == "reservation" %} class="active"{% endif %}><a href="{{ path('app_trajet_reservation_index') }}" title="">Réservations</a></li>
        <li {% if activenav2 == "avis" %} class="active"{% endif %}><a href="" title="">Avis</a></li>
      </ul>
</nav>
<div><br><br><br><br></div>