<footer>
        <div class="splitter"></div>
        <ul>
            <li>
                <div class="icon" data-icon="E"></div>
                <div class="text">
                    <h4>About</h4>
                    <div>C’est un monde de déplacement permet l’utilisation en commun d’une voiture unique afin de réaliser un trajet. La principale difficulté du covoiturage réside dans son essence même c'est-à-dire trouvé un partenaire avec qui faire le trajet.
Le covoiturage est né de <a href="{{ path('user_about') }}">Read more</a></div>
                </div>
            </li>
            <li>
                <div class="icon" data-icon="a"></div>
                <div class="text">
                    <h4>Archive</h4>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
                </div>
            </li>
            <li>
                <div class="icon" data-icon="s"></div>
                <div class="text">
                    <h4>Cloud</h4>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
                </div>
            </li>
        </ul>

        <div class="bar">
            <div class="bar-wrap">
                <ul class="links">
                    <li><a href="{{ path('user_homepage') }}">Home</a></li>
                    <li><a href="{{ path('user_contact') }}">Contact Us</a></li>
                    <li><a href="{{ path('user_about') }}">About</a></li>
                </ul>

                <div class="social">
                    <a href="#" class="fb">
                        <span data-icon="f" class="icon"></span>
                        <span class="info">
                            <span class="follow">Become a fan Facebook</span>
                            <span class="num">9,999</span>
                        </span>
                    </a>

                    <a href="#" class="tw">
                        <span data-icon="T" class="icon"></span>
                        <span class="info">
                            <span class="follow">Follow us Twitter</span>
                            <span class="num">9,999</span>
                        </span>
                    </a>

                    <a href="#" class="rss">
                        <span data-icon="R" class="icon"></span>
                        <span class="info">
                            <span class="follow">Subscribe RSS</span>
                            <span class="num">9,999</span>
                        </span>
                    </a>
                </div>
                <div class="clear"></div>
                <div class="copyright">&copy;  2016 All Rights Reserved</div>
            </div>
        </div>
    </footer>