<header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="{{path('user_homepage')}}">Co<span>voitur</span>age</a></h1>

		<nav>
			<a href="{{path('user_homepage')}}" {% if(active == 'homme') %}class="selected"{% endif %}>Home</a>
			<a href="{{path('user_about')}}" {% if(active == 'about') %}class="selected"{% endif %}>About</a>
			<a href="{{path('user_contact')}}" {% if(active == 'contact') %}class="selected"{% endif %}>Contact</a>
		</nav>
                
                <ul>
			<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
			<li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
		</ul>
	</div>

</header>