{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - Annonces{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/app/css/jquery.timepicker.min.css'
        'bundles/app/css/jquery-ui.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}   
{% endblock %}
{% block secondjavascripts %}
    {% javascripts 
        'bundles/app/js/jquery.timepicker.min.js'
        'bundles/app/js/jquery-ui.js'
    %}        
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block content %}
<br>
{% include "AppBundle:Layout:common/nav2.html.twig" %}

<style>
#fos_user_profile_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    margin-top: 25px;
}
#fos_user_profile_form div label{
    height: 21px;
    width: 190.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#fos_user_profile_form div input{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div li{
    color: red;
    font-size: 12px;
    list-style: none;
}
#fos_user_profile_form div select{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div input[type=text],
#fos_user_profile_form div input[type=email],
#fos_user_profile_form div input[type=password],
#fos_user_profile_form div input[type=number]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

//*******************************//

</style>
<main class="main" role="main">
  <!-- Page info -->
  <header class="site-title color MarB10"></header>
  <!-- //Page info -->
  <div class="wrap">
    <div class="row">
      <!--- Sidebar -->
      <aside class="one-fourth sidebar left">
        <!-- Widget -->
        <div class="widget noBoxShadow BgW">
          <h4>TRAJETS</h4>
          <ul class="categories">
            <li {% if categorienav == 'trajet' %}class="active"{% endif %}><a href="{{ path('app_trajet_add') }}">Nouveau trajet</a></li>
            <li {% if categorienav == 'venir' %}class="active"{% endif %}><a href="{{ path('app_trajet_venir') }}">Trajets à venir</a></li>
            <li {% if categorienav == 'passe' %}class="active"{% endif %}><a href="{{ path('app_trajet_passe') }}">Trajets passés</a></li>
          </ul>
        </div>
        <!-- //Widget -->
      </aside>      <!--- //Sidebar -->
      <!--- Content -->
      <div class="three-fourth content noPadBot">
        <!-- Post -->
        <article class="single hentry noBoxShadow BgW noMar">
          <div class="entry-content" id="profil_info">
          	<span class="tagop"></span>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}        
                
            <h2 class="montserrat px16 bold noPadBot">MES ANNONCES</h2>
            <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
            <br>

            <div id="fos_user_profile_form">
                {{ form_start(form, { 'action': path('app_trajet_add'), 'attr': { 'class': '' } }) }}
                
                <div>
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre) }}
                </div>
                
                <div>
                    {{ form_label(form.villedepart) }}
                    {{ form_widget(form.villedepart) }}
                </div>
                
                <div>
                    {{ form_label(form.villearrive) }}
                    {{ form_widget(form.villearrive) }}
                </div>
                
                <div>
                    {{ form_label(form.datedepart) }}
                    {{ form_widget(form.datedepart) }}
                </div>
                
                <div>
                    {{ form_label(form.heuredepart) }}
                    {{ form_widget(form.heuredepart) }}
                </div>
                
                <div>
                    <label for="trajet_vehicule" class="required">Véhicule</label>
                    <select id="trajet_vehicule" name="vehicule" required="required">
                        <option value="" selected="selected">-- Aucune --</option>
                        {% for vehicule in vehicules %}
                            <option value="{{ vehicule.id }}">{{ vehicule.matricule }}</option>
                        {% endfor %}
                                                
                    </select>
                </div>
                
                <div>
                    {{ form_label(form.status) }}
                    {{ form_widget(form.status) }}
                </div>
                    {{ form_widget(form) }}
                    <div>
                <input style="margin-left: 133.3px;" type="submit" value="Ajouter" class="button cursor"/>
                    </div>
                {{ form_end(form) }}
            </div>
            
          </div>
        </article>
        <!-- //Post -->
      </div>
      <!--- //Content -->
    </div>
  </div>
</main>
<script>
        $(".alert").delay(3200).fadeOut(3000);
</script>
<script>
  $(function() {
    $("#trajet_datedepart").datepicker({ dateFormat: 'dd-mm-yy' });
    $('#trajet_heuredepart').timepicker({ timeFormat: 'HH:mm:ss' });
  });
</script>
<br>
{% endblock content %}
