{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - Trajets{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/app/css/jquery.timepicker.min.css'
        'bundles/app/css/jquery-ui.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}   
{% endblock %}
{% block secondjavascripts %}
    {% javascripts 
        'bundles/app/js/jquery.timepicker.min.js'
        'bundles/app/js/jquery-ui.js'
    %}        
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block content %}
<br>
{% include "AppBundle:Layout:common/nav2.html.twig" %}
{% include "AppBundle:Trajet:index_content.html.twig" %}
<br>
{% endblock content %}
