{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT - About{% endblock title %}
{% block secondstylesheets %}
    {% stylesheets 
        'bundles/user/css/form-style.css'
        filter='cssrewrite'
    %}        
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}    
    
{% endblock secondstylesheets %}
{% block content %}
<br>
{% include "AppBundle:Layout:common/nav2.html.twig" %}
<style>
#contact_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    margin-top: 25px;
}
#contact_form div li{
    color: red;
    font-size: 12px;
    list-style: none;
}
#contact_form div label{
    height: 21px;
    width: 190.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#contact_form div input{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#contact_form .div-textarea{
    height: 100px;
}
#contact_form .div-textarea textarea{
    height: 100px;
    width: 227px;
    padding: 4px 0 4px 0;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border: 1px solid #999999;
    border-left: none;
    border-top: none;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
}
#contact_form div input[type=text],
#contact_form div input[type=email],
#contact_form div input[type=password],
#contact_form div input[type=number]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}    
</style>

<div class="content">
<div class="border">
    <div class="notification">ABOUT</div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger">{{ flashMessage }}</div>
                {% endfor %}  
<div id="contact_form">

    C’est un monde de déplacement permet l’utilisation en commun d’une voiture unique afin de réaliser un trajet. La principale difficulté du covoiturage réside dans son essence même c'est-à-dire trouvé un partenaire avec qui faire le trajet.<br>
    Le covoiturage est né de dynamiques d'organisation de l'auto-stop dans les années 1950 par des associations allemandes ou telles que Taxistop en Belgique Allostop créée en France en 1958 et Allo-Stop au Canada.<br>
    Le mot « covoiturage » est récent (1989). Depuis les années 1980, il représente une alternative de transport reconnue, qui s'étend dans le monde occidental. L'Internet a beaucoup contribué à l'émergence de cette pratique de transport en facilitant les contacts entre conducteurs et passagers.

</div><br>
<div style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.8865390873357!2d10.187851914721278!3d36.821238674215984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34895de705e9%3A0xa56bdcf014972a91!2sUniversit%C3%A9+Libre+de+Tunis!5e0!3m2!1sfr!2sfr!4v1456389721958" style="border:0" allowfullscreen="" frameborder="0" height="450" width="600"></iframe>
</div>
    

</div>
</div>
<br><br>
{% endblock content %}
