<style>
.one-fourth {
    float: left;
    width: 22%;
    padding: 0 15px 30px;
    min-width: 23px;
}
</style>

{% include "AppBundle:Layout:common/nav2.html.twig" %}
   
<div class="content">
    <div class="border"> 
        Bonjour <b>{{ app.user.lastname|capitalize }}</b>, votre derniére connexion est le {{ app.user.lastlogin|date('d-m-Y à h:i A') }}
    </div>
{% if photo is null or description is null or type == 'conducteur' and vehicules == 0%}
    {% set total=0 %}
    {% if photo is null %}
        {% set total = total+1 %}
    {% endif%}
    {% if description is null %}
        {% set total = total+1 %}
    {% endif%}
    {% if type == 'conducteur' and vehicules == 0 %}
        {% set total = total+1 %}
    {% endif%}
<div class="border">
    <div class="notification">NOTIFICATIONS <span class="notfi-red">({{total}})<span></div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
{% if description is null %}    
    Renseignez votre mini-bio.<br>
    Présentez vous et dîtes pourquoi les autres membres devraient voyager avec vous. Cela vous permettra de trouver le meilleur covoiturage possible.
    <div><br><a href="{{ path('fos_user_profile_edit') }}" class="button">Renseignez votre mini-bio</a><br><br><br></div>
    
{% endif %}
{% if photo is null %}    
    Ajouter une photo à votre profil.<br>
    Les covoitureurs seront rassurés de voir avec qui ils vont voyager.
    <div><br><a href="{{ path('fos_user_profile_edit_photo') }}" class="button">Ajouter votre photo</a><br><br><br></div>
    
{% endif %}
{% if type == 'conducteur' and vehicules == 0 %}
    Vous n'avez pas encore renseigné votre véhicule.<br>
    Ajouter votre 1ér véhicule pour commencer.
    <div><br><a href="{{ path('app_vehicule') }}" class="button">Ajouter votre véhicule</a><br><br><br></div>
{% endif%}
</div>
{% endif %}

<div class="border">
    <div class="one-fourth">
        <div class="notification">PRÉFÉRENCES</div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
    </div>
    
    
    <div class="one-fourth">
        <div class="notification">VÉHICULE</div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
    </div>
    
    
    <div class="one-fourth">
        <div class="notification">ACTIVITÉ</div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
    </div>
    
    
    <div class="one-fourth">
        <div class="notification">VÉRIFICATIONS</div>
                <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
    </div>
</div>
</div>