{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}ALOO ULT{% endblock title %}

{% block content %}
<br>
{% include "AppBundle:Default:index_content.html.twig" %}
<br>
{% endblock content %}
