<style>
    #fos_user_profile_form div{
        font-size: 15px;
        font-weight: normal;
        line-height: 21.3px;
        text-align: left;
        word-spacing: 0px;
        height: 37px;
        width: 700px;
        display: block;
        margin-top: 25px;
    }
    #fos_user_profile_form div label{
        height: 21px;
        width: 190.3px;
        float: left;
        padding-top: 10px;
        font-family: Arial;
    }
    #fos_user_profile_form div input{
        height: 37px;
        width: 230px;
        float: left;
        padding: 0 15px 0 15px;
    }
    #fos_user_profile_form div li{
        color: red;
        font-size: 12px;
        list-style: none;
    }
    #fos_user_profile_form div select{
        height: 37px;
        width: 230px;
        float: left;
        padding: 0 15px 0 15px;
    }
    #fos_user_profile_form div input[type=text],
    #fos_user_profile_form div input[type=email],
    #fos_user_profile_form div input[type=password],
    #fos_user_profile_form div input[type=number]{
        font-size: 14px;
        line-height: 18px;
        background-color: #fff;
        color: #666666;
        border-bottom: 1px solid #999999;
        border-top: none;
        border-left: none;
        border-radius: none;
        padding: 4px 0 4px 0;
    }
    .cursor{
        cursor: pointer;
    }

    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .alert {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;    
        margin: 20px auto;
        width: auto;     
        -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    }

    //*******************************//
    table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 15px;
    }

</style>

{% include "AppBundle:Layout:common/nav2.html.twig" %}

<div class="content">
    <div class="border">
        <div class="notification">PLACES RESTENTS <span class="notfi-red">( {{ trajet.nbplace-nbaccept }} )<span></div>
                    <div class="margin-hrl-yellow"><div class="hrl-yellow"></div></div>
                    </div>

                    <div class="border">        
                        <table>
                            <tbody>
                                <tr>
                                    <th>Photo</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>   
                                    <th>Sexe</th>
                                    <th>Age</th>                    
                                    <th style="text-align: center">Statut</th>
                                </tr>
                                {% for reservation in reservations %}
                                    <tr>
                                        <td style="text-align: center"><img width="70" src="{% if trajet.user.file != null %}{{ asset(trajet.user.file.path) }}{% else %}{{ asset('bundles/app/images/no-person.png') }}{% endif %}"></td>
                                        <td>{{reservation.user.lastname|capitalize}}</td>
                                        <td>{{reservation.user.firstname|capitalize}}</td>
                                        <td>{{reservation.user.gender|capitalize}}</td>
                                        <td>{{date-reservation.user.born}}</td>
                                        <td style="text-align: center">
                                            <a href="#" data-status="{{reservation.status}}" data-rest="{{trajet.nbplace-nbaccept}}" id="{{ reservation.id }}" class="table-icon {% if reservation.status %} state-demande true {% else %} state-demande false {% endif %}" title="{% if reservation.status %}accepté{% else %}non accpeté{% endif %}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    </div>
                    <script>
                        $(function () {
                            $('.state-demande').click(function () {
                                var id = $(this).attr('id');
                                var rest = $(this).attr('data-rest');
                                var status = $(this).attr('data-status');
                                console.log(status);
                                if(status){
                                    $.ajax({
                                        url: Routing.generate('app_trajet_reservation_status', {id: id}),
                                        type: 'POST',
                                        dataType: 'json',
                                        success: function (output_val) {
                                            location.reload();
                                        }
                                    });
                                }
                                else{
                                    if(rest>0){
                                        $.ajax({
                                            url: Routing.generate('app_trajet_reservation_status', {id: id}),
                                            type: 'POST',
                                            dataType: 'json',
                                            success: function (output_val) {
                                                location.reload();
                                            }
                                        });
                                    }
                                    else{
                                        alert('vous avez dépassé le nombre maximum des places acceptées !');
                                    }
                                }                                
                            });
                        });
                    </script>