<style>
#fos_user_profile_form div{
    font-size: 15px;
    font-weight: normal;
    line-height: 21.3px;
    text-align: left;
    word-spacing: 0px;
    height: 37px;
    width: 700px;
    display: block;
    margin-top: 25px;
}
#fos_user_profile_form div label{
    height: 21px;
    width: 190.3px;
    float: left;
    padding-top: 10px;
    font-family: Arial;
}
#fos_user_profile_form div input{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div li{
    color: red;
    font-size: 12px;
    list-style: none;
}
#fos_user_profile_form div select{
    height: 37px;
    width: 230px;
    float: left;
    padding: 0 15px 0 15px;
}
#fos_user_profile_form div input[type=text],
#fos_user_profile_form div input[type=email],
#fos_user_profile_form div input[type=password],
#fos_user_profile_form div input[type=number]{
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-radius: none;
    padding: 4px 0 4px 0;
}
.cursor{
    cursor: pointer;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin: 20px auto;
    width: auto;     
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

//*******************************//
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}

</style>

{% include "AppBundle:Layout:common/nav2.html.twig" %}
   
<div class="content">
    <div class="border"> 
        <table>
            <tbody>
                <tr>
                    <th>Titre</th>
                    <th>Départ</th>
                    <th>Arrivé</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Véhicule</th>
                    <th>Places</th>
                    <th>Prix</th>
                    <th>Demandes</th>
                    <th>Lister</th>
                </tr>
            {% for annonce in annonces %}
                <tr>
                    <td>{{annonce.titre}}</td>
                    <td>{{annonce.villedepart}}</td>
                    <td>{{annonce.villearrive}}</td>
                    <td>{{annonce.datedepart|date('d-m-Y')}}</td>
                    <td>{{annonce.heuredepart|date('H:i:s')}}</td>
                    <td>{{annonce.vehicule.matricule}}</td>
                    <td>{{annonce.nbplace}}</td>
                    <td>{{annonce.prix}} DT</td>
                    <td style="text-align: center">{{ annonce.demandes }}</td>
                    <td><center>
                        <a href="{{path('app_trajet_reservation_details', {'id': annonce.id})}}"><i style="color: #000;" class="fa fa-search"></i> </a>
                    </center></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
